# Memory database
talkrobot/mem_db/
talkrobot/logs/
talkrobot/__pycache__/
talkrobot/**/__pycache__/
agent/
talkrobot/modules/face_recognize/known_faces/ljc.png
expression_video/*.mp4
note.txt
script/assets/
script/pictures/
.DS_Store
*.pyc