funasr
kokoro
easy_tts_server
openai
mem0
sounddevice
pynput
loguru
numpy
soundfile
silero-vad
python-dotenv
requests
mcp
fastapi
starlette>=0.40.0,<0.47.0
uvicorn
opencv-python
Pillow
langgraph
langchain
typing_extensions
transformers
torch
